beautifulsoup4==4.9.3
bs4==0.0.1
certifi==2020.12.5
chardet==4.0.0
click==7.1.2
gobject==0.1.0
gTTS==2.2.2
idna==2.10
lxml==4.6.3
multitasking==0.0.9
numpy==1.20.1
pandas==1.2.3
pkg-resources==0.0.0
playsound==1.2.2
PyAudio==0.2.11
pycairo==1.20.0
PyGObject==3.40.0
python-dateutil==2.8.1
pytz==2021.1
requests==2.25.1
selenium==3.141.0
six==1.15.0
soupsieve==2.2.1
SpeechRecognition==3.8.1
urllib3==1.26.4
yfinance==0.1.55
